<div class="content">
<header>
    <h1>{{title}}</h1>
</header>
<form action='/' method='post' id="newNote">
	<input type="hidden" name="id" value="{{note._id}}">
	<label>Title
		<input type="text" name="noteTitle" value="{{note.noteTitle}}" required>
	</label>
	<label>Description
		<textarea name="noteDescription">{{note.description}}</textarea>
	</label>
	<label>Priority
			<input type="range" min="1" max="5" step="1" name="priority" value={{#if note.priority}}{{note.priority}}{{else}}"0"{{/if}}>
	</label>
	<label>To do until
		<input type="date" name="dueDate" value="{{dateFormat note.dueDate "YYYY-MM-DD"}}">
	</label>

    <span id="doneCheckbox">
    <label>
        <input type="checkbox" name="doneCheck" id="doneCheck" {{#if note.done}}checked{{/if}}>Finished
    </label>
    </span>
    <div class="buttonSection">
        <button type="submit">Save</button>
    	<button type="reset">Reset</button>
    </div>
</form>
</div>